<!DOCTYPE html>
<html>
  <head>
 
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Your Pin Number is  link: <%= @otp %></p>
      <p>To activate your account please follow this link: <%= @url %>  </p>
  </body>
</html>